.servicesSection {
  padding: 60px 20px;
  background: #0a0f1a; /* dark navy bg */
  text-align: center;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  color: #e0f0ff;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  /* display: inline-block;
  align-items: center;
  border: 1px solid #4a90e2;
  border-radius: 18px;
  padding: 20px;
  background: rgba(10, 20, 40, 0.7);
  transition: 0.3s ease;
  height: 300px;
  width: 300px; */
  width: 380px;
  height: 320px;
  padding: 20px;
  justify-content: center;
  margin-left: 80px;
  border: 1px solid #4a90e2;
  border-radius: 18px;
  background: rgba(10, 20, 40, 0.7);
  margin: auto;
}

.card:hover {
  box-shadow: 0px 4px 15px rgba(74, 144, 226, 0.4);
}

.imageBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image {
  border-radius: 15px;
  border: 2px solid #4a90e2;
  object-fit: cover;
  position: absolute;
  right: 90%;
  
}
.image:hover {
  transform: scale(1.05);
  transition: 0.1s ease;
}
.contentBox {
  flex: 2;
  padding-left: 40px;
  text-align: justify;
  margin-top: 40px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #e0f0ff;
  margin-bottom: 10px;
}

.description {
  font-size: 15px;
  line-height: 1.6;
  color: #c7dbf7;
  margin-bottom: 15px;
}

.btn {
  background: transparent;
  border: 1px solid #4a90e2;
  color: #e0f0ff;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: #4a90e2;
  color: #fff;
}

/* Responsive */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  .contentBox {
    padding-left: 0;
    margin-top: 15px;
    text-align: center;
  }
}
